body {
    margin: 0;
    font-size: 'Oswald', sans-serif;
    }
    
    h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", serif;
    }
    
    .header-wrapper {
        height: 100px;
        background-color: #6d5d62;
        color: #E0E3E9;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 100px;
        padding-left: 100px;
        position: sticky; 
        position: -webkit-sticky;
        top: 0;
    }
    
    .left-column {
        display: flex;
        text-align: center;
        width: 800px;
        font-family: 'Bebas Neue', sans-serif;
        font-size: x-large;
    
    }
    
    .header-styles {
        font-family: 'Oswald', sans-serif;
        display: flex;
        flex-direction: column;
    }
    
    /* .center-column { */
        /* width: 150px; */
        /* text-align: center; */
        
    /* } */
    
    .logo {
    /* display: flex; */
    /* justify-content: center; */
    /* margin-bottom: 42px; */
    }
    
    .logo img {
    /* width: 216px; */
    /* height: 100%; */
    }
    
    .link-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    }
    
    .nav-link {
    width: 800px;
    justify-content: space-around;
    font-family: "Oswald" , sans-serif;
    color: #E0E3E9;
    text-decoration: none;
    }
    
    .nav-link:hover {
    color: #888e95;
    letter-spacing: 2px;
    transition: 0.5s;
    }
    
    .right-column {
    display: flex;
    text-align: left;
    width: 100px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: x-large;
    }
    
    .icon {
    font-size: 2em;
    }
    
    .icon-mr {
    margin-right: 15px;
    }
    
    .icon-ml {
    margin-left: 15px;
    }
    
    .main-section {
        display: flex;
        justify-content: right;
    background-image: url(assets/dandelion.jpg.jpg);
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    }
    
    .top-heading {
    /* background-color: #888e95; */
    color: #E0E3E9;
    width: 160px;
    height: 40px;
    text-align: center;
    /* padding: 1px 20px; */
    /* border-radius: 2px; */
    }
    
    .bottom-heading {
    background-color: #888e95;
    color: #3b4550;
    width: 150px;
    height: 90px;
    text-align: center;
    padding: 1px 20px;
    margin-top: 15px;
    border-radius: 2px;
    }
    
    .features-section {
    height: 400px;
    background-image: url(assets/dandelion.jpg.jpg);
    background-color: #887867;
    border-top: 10px solid white;
    color: #E0E3E9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Oswald", sans-serif;
    box-shadow: inset 0px -26px 79px -8px
     rgba(0, 0, 0, 0.58);
    }
    
    .columns-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    }
    
    .column {
    padding: 20px;
    margin: 42px;
    text-align: center;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 1s;
    }
    
    .column:hover {
    border-bottom: 5px solid #E0E3E9;
    }
    
    .column-icon {
    font-size: 3em;
    }
    
    .column-title {
    font-size: 1.5em;
    height: 50px;
    transition: 1s;
    }
    
    .column-title:hover {
    letter-spacing: 1px;
    }
    
    .column-content {
    letter-spacing: 2px;
    }

    .footer-container{
        grid-column: 1/3;
        grid-row: 3;
        border-top: 60px solid #888e95;
        padding: 10px; 
     }
     
     .footer-flex{
         display: flex;
         justify-content: space-between;
         align-items: center;
     }
     
     .icons-flex{
         display: flex;
     }
     
         
         
     .square{ 
          margin-right: 10px;
      }
     
     a .square{
        color: #333;
        }
     
     a .square:hover{
         color: #6d5d62;
     }
     
    .envelope-icon{
        margin: 5px 0 0 7.5px;
        }

     /* ABOUT ME PAGE */

    .about-middle-section {
        /* display: grid; */
        /* justify-content: right; */ 
        height: 50px;
        /* background-attachment: fixed; */
        /* background-position: center; */
        /* background-size: cover; */
        /* background-repeat: no-repeat; */
        padding: 10px;
    }
    
    /* .about-top-heading { */
        /* background-color: #888e95; */
        /* color: #E0E3E9; */
        /* width: 160px; */
        /* height: 40px; */
        /* text-align: center; */
        /* padding: 1px 20px; */
        /* border-radius: 2px; */
        /* } */

    
    .about-bottom-heading {
        background-color: #888e95;
        color: #3b4550;
        width: 100%;
        height: 60px;
        text-align: center;
        /* padding: 10px 20px; */
        /* margin-top: 10px; */
        border-radius: 2px;
        }

        .picture-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            /* grid-column: 1/5; */
            /* grid-row: 1; */
            /* border-top: 60px solid #4E1A3D; */
            /* padding: 10px;  */
        }

            

    /* .about-top-heading { */
    /* display: flex; */
    /* justify-content: right; */
    /* background-color: #888e95; */
    /* color: #3b4550; */
    /* width: 200px; */
    /* height: 40px; */
    /* text-align: center; */
    /* padding: 1px 20px; */ */
    /* border-radius: 2px; */ */
    /* } */

     .middle-section{
        height: 75px;
        /* width: 400px; */
     }

     .still-learning{
         height: 275px;
         width: 400px;
     }

     /* CONTACT PAGE */

     .contact-main-section {
        display: flex;
        justify-content: right;
    background-image: url(assets/cairn.JPG);
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;  
    background-repeat: no-repeat;
    padding: 100px;
    }